flows.json
[{"id":"60fe41dc.a7dcc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"510f5d6a.562a54","type":"debug","z":"60fe41dc.a7dcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":120,"wires":[]},{"id":"c227cc71.4ba81","type":"ibmiot in","z":"60fe41dc.a7dcc","authentication":"apiKey","apiKey":"46e3c831.351598","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"212129","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":100,"wires":[["173bb509.0f9fab","d153ac.99af5c58","b3c3c4e5.98eb68"]]},{"id":"173bb509.0f9fab","type":"function","z":"60fe41dc.a7dcc","name":"voltage","func":"global.set('voltage',msg.payload.Voltage)\nmsg.payload=msg.payload.Voltage\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["510f5d6a.562a54","af773f71.8c2d"]]},{"id":"d153ac.99af5c58","type":"function","z":"60fe41dc.a7dcc","name":"current","func":"global.set('current',msg.payload.Current)\nmsg.payload=msg.payload.Current\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["510f5d6a.562a54","baf3862a.f08688"]]},{"id":"af773f71.8c2d","type":"ui_gauge","z":"60fe41dc.a7dcc","name":"","group":"a7562a90.ce69c8","order":0,"width":0,"height":0,"gtype":"gage","title":"voltage","label":"V","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":180,"wires":[]},{"id":"baf3862a.f08688","type":"ui_gauge","z":"60fe41dc.a7dcc","name":"","group":"a7562a90.ce69c8","order":1,"width":0,"height":0,"gtype":"gage","title":"current","label":"A","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":240,"wires":[]},{"id":"c5b44b56.0ac278","type":"ui_button","z":"60fe41dc.a7dcc","name":"","group":"a7562a90.ce69c8","order":3,"width":0,"height":0,"passthru":false,"label":"meteroff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"meteroff\"}","payloadType":"json","topic":"","x":220,"y":300,"wires":[["5d23f89b.13d0e8"]]},{"id":"5d23f89b.13d0e8","type":"ibmiot out","z":"60fe41dc.a7dcc","authentication":"apiKey","apiKey":"46e3c831.351598","outputType":"cmd","deviceId":"212129","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":520,"y":340,"wires":[]},{"id":"31dfa553.5ed5da","type":"http in","z":"60fe41dc.a7dcc","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["2f67a5ef.0913ba"]]},{"id":"e9a4510a.c6d11","type":"http response","z":"60fe41dc.a7dcc","name":"","statusCode":"","headers":{},"x":490,"y":260,"wires":[]},{"id":"2f67a5ef.0913ba","type":"function","z":"60fe41dc.a7dcc","name":"data","func":"msg.payload={'voltage':global.get(\"voltage\"), 'current':global.get(\"current\"), 'thresh' :global.get(\"thresh\")}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["e9a4510a.c6d11"]]},{"id":"cfec795.6da1688","type":"debug","z":"60fe41dc.a7dcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":400,"wires":[]},{"id":"c03a51ca.68e95","type":"http in","z":"60fe41dc.a7dcc","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":180,"y":380,"wires":[["f783574e.7724e8"]]},{"id":"3c313624.f6abda","type":"http response","z":"60fe41dc.a7dcc","name":"","statusCode":"","headers":{},"x":610,"y":460,"wires":[]},{"id":"f783574e.7724e8","type":"function","z":"60fe41dc.a7dcc","name":"command","func":"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":400,"wires":[["3c313624.f6abda","5d23f89b.13d0e8","cfec795.6da1688"]]},{"id":"b3c3c4e5.98eb68","type":"function","z":"60fe41dc.a7dcc","name":"thresh","func":"global.set('thresh',msg.payload.Crossed_threshold)\nmsg.payload=msg.payload.Crossed_threshold\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":80,"wires":[["510f5d6a.562a54"]]},{"id":"46e3c831.351598","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a7562a90.ce69c8","type":"ui_group","z":"","name":"Default","tab":"3b0eeba2.cb9694","order":1,"disp":true,"width":"6","collapse":false},{"id":"3b0eeba2.cb9694","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]